# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore local development files and directories that are not needed for the build
.dockerignore
.git
.gitignore
.idea
.vscode
*.md
tests
coverage
