# Ignore node_modules directory
node_modules

# Ignore build output
dist

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore test coverage reports
coverage

# Ignore log files, but not .env files
*.log
!.env*

# Ignore Git directory
.git

# Ignore test files
tests

# Explicitly include .env files
!.env
!.env.docker
!.env.test
